:root {
    --projborder: rgb(16, 107, 100); 
    --projlabel: rgb(16, 107, 100);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
body {
    background-color: #d9f6e9;
}

/*All Header Formatting Elements*/
header {
    width: 100%;
    /* position: fixed; */
    top: 0px;
    height: 80px;
    display: inline-flex;
    justify-content: space-between;  
    background-color: #d9f6e9;
    z-index: 1;
}

h1 {
    color: #000;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 24px;
}

.links {
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    padding: 28px;
}

a {
    color: #000000;
    text-decoration: none;
}
.links ul li {
    display: inline-flex;
    margin: 0 2vw;
}

.links ul li:hover {
    border-bottom:#000 solid 2px;
    padding-bottom: 4px;
    transition: 0.3s;
}

/*Subtitle Intro Text Formatting Elements*/
#projects-heading {
    display: flex;
    justify-content: center;
}

.intro_h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    color: #000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    padding-top: 100px;
}
.intro_p {
    display:flex;
    justify-content: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 20px;

}
/*All Project's Sections Formatting Elements*/
/* Main Project */
#projectsid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 10vw 0px 10vw;

}
.main_project {
    display: flex;
    justify-content: center;
    margin: 40px 10vw 0px 10vw;
}
#project_uno img {
    max-width: 100%;
    height: auto;
    border: 6px solid var(--projborder);
}

/* Secondary Project */
.secondary-projects {
    display: flex;
    max-width: 800px;
    max-height: 800px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px;
    margin: auto;
}
.project-cards {
    position: relative;
}

.project-cards img {
    max-width: 100%;
    max-height: 600px;
    display: block;
    border: 6px solid var(--projborder);
    margin: 20px 20px;
}
/* Contact Section Formatting */
#contactid {
    display: flex;
    justify-content: center;
}
.contact {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 80vw;
    padding: 30px 30px 0 30px;
    border-top: 2px solid black;
}

.contact h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    position: absolute;
    left: 2%;
    padding-top: 15px;
}
.contact-details ul {
    display: inline-flex;
    align-items: center;
    Margin: 0px 200px;
}
.contact-details ul li {
    display: inline-flex;
    font-size: 20px;
    color: #000;
    margin: 20px;
}
.contact-details ul li:hover {
    text-shadow: 0 0 5px #048166;
}

/*Footer Website Creator Formatting*/
.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 30px;
    padding-top: 50px;
}
.arrow {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bold;
    padding: 40px;
}
.arrow:hover {
    text-shadow: 0 0 5px #048166;
}

/*About Me Page Formatting*/

#about-heading {
    display: flex;
    justify-content: center;
    padding: 100px 0px 20px 0px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 30px;
}

.profile-segment {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin: 80px 30% 0px 30%;
}
.profile-segment p {
    display: flex;
    justify-content: center;
    margin:0 20px;
}

.profile {
    display: flex;
    flex-direction: column;
}
.profile-img {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    margin: 60px 30% 0px 30%;
}

.profile-segment {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin:100px 20% 0px 20%;
}
.profile-segment p {
    display: flex;
    justify-content: center;
    margin:0 20px;
}


/*Credits Page Formatting*/
.credits-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.credit-heading {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin:0 25%;
    border-bottom: 4px solid #000000;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.credit-h2 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: 20px;
}

.credit-list {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

.credit-list ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    display: flex;
    list-style-type: none;
    justify-content: center;
    line-height: 150%;
}

.credit-footer {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
}

/*Placeholder Application Page Formatting*/
.application-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.application-heading {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin:0 30%;
    border-bottom: 4px solid #000000;
    text-align: center;
}

.application-h2 {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.placeholder-ani {
    padding: 60px ;
}
.giphy-embed {
    display: block;
    margin:auto;
    width: 60%;
}

@media only screen and (max-width: 1300px) {
    .contact h2 {
        position: relative;
    }
}